.port-item {

	
	&__inner {
		padding-top: 30px;
	}

	&__title {
		margin-bottom: 48px;
	}

	&__gallery {
		display: flex;
		justify-content: space-between;
		margin-bottom: 73px;
		padding-left: 5px;
		padding-top: 5px;
		box-shadow: 0px 0px 10px #DFDFDF;
		border-radius: 6px;

		flex-wrap: wrap;


		&_info {
			margin: 0 0 0 auto;
			padding: 0 55px 24px 24px;

			&_title {
				padding-left: 25px;	
				position: relative;	
				margin-bottom: 15px;	
				color: #595959;

				&:after {
					position: absolute;	
					content: url('../img/ex-icon6.svg');
					top: 0;	
					left: 0;	
				}
			}

			&_text {
				font-size: 14px;	
				line-height: 18px;	
				font-weight: 300;	
			}
		}

		&_descr {
				display: none;	
		}
		&_tabs {
			// width: 10%;
			margin-right: 20px;
			display: flex;
			flex-direction: column;
		}

		&_tab {
			margin-bottom: 5px;
			height: 50px;
			background-color: bisque;
			display: flex;
			width: 82px;
			height: 58px;
		}

		&_tab.port-item__gallery_tab_active {
			border: 4px solid $black;	
		}



		&_content {
			width: auto;
			margin-bottom: 24px;	


			&_item {
				
				display: flex;
				justify-content: space-between;
				flex-wrap: wrap;

				.item__info {
					width: 100%;
					padding: 24px 55px 24px 24px;

					&_title {
						padding-left: 20px;
						color:#595959;
						margin-bottom: 15px;
						position: relative;

						&:after {
							position: absolute;
							content: url('../img/ex-icon6.svg');
							top: 0;
							left: 0;
						}
					}

					&_text {
						font-size: 14px;
						line-height: 18px;
					}
				}

				.item__img {
					max-width: 711px;
					display: flex;
					border-radius: 6px;
					overflow: hidden;

					img {
						width: 100%;
						height: 100%;
						object-fit: cover;
					}
				}

				.item__descr {
					padding: 52px 40px 50px 40px;
					&_list {
						display: flex;
						justify-content: space-between;
						&_names {

						}
						&_name {
							color: #595959;
							padding-left: 30px;
							position: relative;
							margin-bottom: 6px;

							&:after {
								position: absolute;
								top: 0;
								left: 0;
							}

							&:nth-child(1) {
								&:after {
									content: url('../img/ex-icon1.svg');
								}
							}

							&:nth-child(2) {
								&:after {
									content: url('../img/ex-icon2.svg');
								}
							}

							&:nth-child(3) {
								&:after {
									content: url('../img/ex-icon3.svg');
								}
							}

							&:nth-child(4) {
								&:after {
									content: url('../img/ex-icon4.svg');
								}
							}

							&:nth-child(5) {
								&:after {
									content: url('../img/ex-icon5.svg');
								}
							}
						}
						&_values {

						}

						&_value {
							font-weight: 700;
							margin-bottom: 6px;
						}
					}	

					&_works {

						&_title {
							color: #595959;
							margin-bottom: 6px;
							font-weight: 400;
							padding-left: 30px;
							position: relative;

							&:after {
								position: absolute;
								content: url('../img/ex-icon6.svg');
								top: 0;
								left: 0;
							}
						}

						&_list {
							padding-left: 60px;
						}

						&_item {
							list-style: disc;
						}
					}
				}
			}
		}
	}

	.prod-item__exams {
		.container {
			padding: 0;
		}
	}
}


@media (max-width: 1270px) {

	.port-item {


		&__gallery {

			&_content {

				&_item {


					.item__descr {
						padding: 52px 20px 50px;

						&_works {

							&_list {
								padding-left: 30px;
							}
						}
					}
				}
			}
		}


	}
}


@media (max-width: 1200px) {

	.port-item {

		&__inner {

		}

		&__title {
			font-size: 36px;
			line-height: 42px;
		}

		&__gallery {
			padding: 10px;
			&_tabs {
				order: 2;
				flex-direction: row;
				margin-right: 0;
				margin-bottom: 33px;
			}

			&_tab {
				max-height: 51px;
				max-width: 66px;
				margin-right: 8px;
			}

			&_info {
				order: 3;
				padding: 0 0 24px 0;
			}


			&_content {
				order: 1;
				width: 100%;
				margin-bottom: 5px;
				&_item {	
					align-items: center;

					.item__img {
						height: 249px;
						width: 	282px;
						img {
							width: 100%;
							height: 100%;
							object-fit: cover;
						}
					}

					.item__descr {

						padding: 20px 20px 0 0;
						&_works {

							&_list {
	
							}
						}
					}


					.item__info {

					}
				}
			}
		}


	}
}


@media (max-width: 768px) {
	.port-item {
		padding-top: 120px;
		&__inner {

		}
	}
}
@media (max-width: 620px) {
	.port-item {

		&__inner {

		}

		&__title {

		}

		&__gallery {

			&_tabs {
				order: 1;
				flex-direction: column;
				margin-bottom: 10px;
				max-width: 20%;
			}

			&_tab {


			}

			&_info {
				width: 100% !important;
			}


			&_content {
				order: 2;
				max-width: 80%;
				margin-bottom: 10px;
				&_item {	
					flex-direction: column;
					align-items: unset;
					.item__img {
						width: 100%;
					}

					.item__descr {
						padding-right: 0;
						&_works {

							&_list {
	
							}
						}
					}


					.item__info {

					}
				}
			}
		}


	}
}

@media (max-width: 413px) {
	.port-item {

		&__inner {

		}

		&__title {

		}

		&__gallery {

			&_tabs {

			}

			&_tab {


			}

			&_info {

			}


			&_content {
				
				&_item {	

					.item__img {
						height: auto;
					}

					.item__descr {

						&_works {

							&_list {
	
							}
						}
					}


					.item__info {

					}
				}
			}
		}


	}

}