* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

input, button, textarea {
    background-color: transparent;
    font-family: inherit;
    border: none;
    cursor: pointer;
}

input {

    &:focus {
        outline: 1px solid var(--main_theme);
    }
}

label {
    cursor: pointer;
}

img, picture {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}
.main {
    overflow-x: hidden;
    flex: 1 0 auto;

}

html {
    height: 100%;
}


body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 18.75px;
    font-weight: 400;
    color: $black;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    // background-color: #E5E5E5;


    display: flex;
    flex-direction: column;

}


.no-scroll {
    overflow-y: hidden;
}

//HELPERS
.container {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
    width: 100%;
    // overflow-x: hidden;
}

@media (max-width: 1200px) {
    .container {
        max-width: 699px;
        width: 100%;
    }
}

.btn-transparent {
    @include btn-transparent;
}

.btn {
    @include btn;
}

.section-title {
    font-size: 42px;
    line-height: 49px;
    font-weight: 700;
    text-align: center;
}

@media (max-width: 767px) {
    .section-title {
        font-size: 36px;
        line-height: 42px;
    }
}

.hide {
    display: none;
}

.pt {
    padding-top: 20px;
}


.quiz__pag {
    display: flex;
    .pag {
        width: 11px;
        height: 11px;
        border-radius: 100%;
        border: 3px solid var(--main_theme);
        cursor: pointer;
        position: relative;

        &:after {
            width: 5px;
            height: 5px;
            position: absolute;
            content: '';
            border-radius: 100%;
            background-color: var(--main_theme);
            top: calc(50% - 2.5px);
            left: calc(50% - 2.5px);
            display: none;
        }

        margin: 0 2.5px;

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }
    }

    .pag.checked {
        &:after {
            display: block;
        }
    }
}

@media (max-width: 768px) {
    .quiz__pag {
        justify-content: center;
    }
}

.square_range {
    display: flex;
    width: 100%;
    align-items: center;
    

    .square_range_slider {
        max-width: 273px;
        width: 100%;
        background-color: #D1D1D1;
        height: 6px;
        border: none;

        .noUi-base {

            .noUi-connect {
                background-color: $blue;
            }

            .noUi-handle {
                width: 24px;
                height: 24px;
                background-color: $blue;
                border: 2px solid #fff;
                box-shadow: none;
                border-radius: 100%;
                top: -9px;
                cursor: pointer;

                &:after {
                    display: none;
                }

                &:before {
                    display: none;
                }
            }
        }
    }

    .square_range_value {
        margin-left: 25px;
        font-weight: 700;
        font-size: 14px;
        line-height: 16.4px;
        color: #595959;
    }
}

.quiz__ex {
    padding: 45px 20px;
    background-color: var(--main_theme);
    max-width: 294px;

    &_text {
        font-weight: 500;
        font-size: 15px;
        line-height: 17.58px;
        color: #fff;
        margin-bottom: 32px;
    }

    &_auth {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &_img {
            width: 69px;
            height: 69px;
            border-radius: 100%;
            background-color: #ccc;

            img {
                max-width: 100%;
                max-height: 100%;
                object-fit: cover;
            }
        }

        &_info {

            .name {
                font-weight: 500;
                color: #fff;
                font-size: 15px;
                line-height: 17.58px;
                margin-bottom: 4px;
            }

            .pos {
                color: #fff;
                font-size: 14px;
                line-height: 16.41px;
            }
        }
    }
}

@media (max-width: 1200px) {
    .quiz__ex {
        padding: 50px 20px;
        max-width: 255px;

        &_text {

            font-size: 14px;
            line-height: 16.41px;
            font-weight: 400;
        }

        &_auth {    


            &_img {
                width: 55px;
                height: 55px;
                margin-right: 7px;
            }

            &_info {
                max-width: 154px;
                .name {
                    font-size: 15px;
                    line-height: 18px;
                }

                .pos {
                    font-size: 14px;
                    line-height: 16px;
                }
            }
        }
    }
}

@media (max-width: 768px) {

    .quiz__ex {
                max-width: 100%;
                padding: 28px 12px 20px 12px;

                &_text {
                    margin-bottom: 22px;
                }

                &_auth {
                    width: 100%;
                    justify-content: flex-start;

                    
                    &_info {
                        max-width: unset;
                    }
                }
            }
}

@media (max-width: 320px) {
    .quiz__ex {

                &_text {
                    font-size: 12px;
                    line-height: 14px;
                }

                &_auth {

                    &_img {

                    }

                    &_info {

                        .name {
                            font-size: 12px;
                            line-height: 14px;
                        }

                        .pos {
                            font-size: 12px;
                            line-height: 14px;
                        }
                    }
                }
            }
}

