/*COLORS ====================*/

$black: #171616;
$green: #6CAC3D;
$blue: #2D4872;
$dgray: #C4C4C4;
$lgray: #F2F2F2;
$hgreen: #82C054;


@mixin btn-transparent {
	padding: 13px 23px;
	border: 1px solid $green;
	cursor: pointer;
	background-color: #fff;
	font-size: 16px;
	line-height: 18.75px;
	font-weight: 500;
	color: $green;
	transition: all .2s ease;
	border-radius: 3px;

	&:hover {
		color: #fff;
		background-color: $green;
	}
}

@mixin btn {
	background-color: $green;
	transition: all .2s ease;
	color: #fff;
	font-weight: 700;
	font-size: 18px;
	line-height: 21px;
	border-radius: 4px;

	&:hover {
		background-color: #82C054;
	}

	&:active {
		@include click;
	}
}

@mixin click {
	transform: scale(0.97);
	background-color: #52971F
}