.popup-quiz3 {
	opacity: 0;
	visibility: hidden;
	z-index: -1;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: all .3s ease;
	padding: 5px;
	background-color: rgba(0,0,0, .3);
	z-index: 100000000000;
	visibility: visible;
	opacity: 1;



	.popup-quiz3__wr {
		background-color: #fff;
		// padding: 30px 50px;
		position: relative;
		overflow: hidden;
		border-radius: 7px;
		

		.close-btn {
			position: absolute;
			top: 6px;
			right: 6px;	
		}
	}


	.popup-quiz3__over {
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;

	}

	.popup-quiz3__body {
		display: flex;
		


		.quiz__content {
			padding: 30px 40px;
			.quiz__title {
				font-weight: 900;
				font-size: 22px;
				line-height: 26px;
				display: flex;
				justify-content: space-between;
				align-items: center;
				margin-bottom: 15px;

			}

			.quiz__form {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				width: 100%;

				.form__select {
					width: 49%;
					height: 105px;
					background-color: #ccc;
					margin-bottom: 12px;
					position: relative;

					.form__select_img {
						width: 100%;
						height: 100%;
						position: absolute;
						top: 0;
						left: 0;

						img {
							width: 100%;
							height: 100%;
							object-fit: cover;
						}
					}

					input {
						position: absolute;
						top: 0;
						left: 0;
						appearance: none;
						opacity: 0;
						visibility: hidden;
						z-index: -1;
					}

					input:checked ~ label {

						&:after {
							content: url('../img/quiz-full.svg');
						}
					}

					label {
						max-width: 148px;
						width: 100%;
						padding: 6px 0;
						background-color: #fff;
						border-radius: 4px;
						text-align: left;
						padding-left: 20px;
						position: absolute;
						left: 8px;
						bottom: 8px;


						&:after {
							position: absolute;
							content: url('../img/quiz-empty.svg');
							top: calc(50% - 9px);
							left: 6px;
						}
					}
				}
			}

			
			

			.quiz__pag {
				margin-bottom: 34px;
			}

			.quiz__next {
				display: flex;
				gap: 9px;

				.btn {
					width: 50%;
					padding: 10px 10px;
				}

				.btn-transparent {
					width: 50%;
					padding: 10px 10px
				}
			}
		}

		
	}
}

@media (max-width: 1200px) {

	.popup-quiz3 {

		.popup-quiz3__wr {
			max-width: 668px;
			.close-btn {

			}
		}

		.popup-quiz3__over {

		}

		.popup-quiz3__body {

			.quiz__content {
				padding-left: 17px;
				padding-right: 20px;
				.quiz__form {

				}
			}
		}
	}
}

@media (max-width: 768px) {
	.popup-quiz3 {
		.popup-quiz3__wr {

		}

		.popup-quiz3__body {
			flex-direction: column;

			.quiz__content {


				.quiz__next {
					flex-direction: column;


					.btn {
						width: 100%;
					}

					.btn-transparent {
						width: 100%;
					}
				}
			}
		}
	}
}


@media (max-width: 376px) {

	.popup-quiz3 {

		.popup-quiz3__wr {

		}

		.popup-quiz3__body {
			
			

			.quiz__content {
				padding: 20px 7px;
				.quiz__title {
					font-size: 18px;
					line-height: 20px;
					padding-right: 20px;

					img {
						width: 35px;
						height: 35px;
					}
				}

				.quiz__next {
					


					.btn {
						
					}

					.btn-transparent {
						
					}
				}

				.quiz__pag {
					margin-bottom: 15px;
				}
			}
		}
	}

}
@media (max-width: 321px) {

	.popup-quiz3 {

		.popup-quiz3__wr {

		}

		.popup-quiz3__body {
			
			

			.quiz__content {
				padding: 10px 5px;
				.quiz__title {
					

					
				}

				.quiz__form {

					.form__select {
						height: 95px;
						label {
							font-size: 12px;
							padding: 4px;
							padding-left: 20px;
							max-width: 120px;
						}


					}
				}

				.quiz__next {
					


					.btn {
						font-size: 12px;
						line-height: 14px;
					}

					.btn-transparent {
						font-size: 12px;
						line-height: 14px;
					}
				}

				.quiz__pag {
					margin-bottom: 15px;
				}
			}

			.quiz__ex {
				padding: 10px !important;
			}
		}
	}

}

