.popup-calc-next.is-open {
	z-index: 10000000;
	visibility: visible;
	opacity: 1;
}

.popup-calc-next {
	opacity: 0;
	visibility: hidden;
	z-index: -1;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: all .3s ease;
	background-color: rgba(0,0,0, .3);



	

	&__over {

		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;

	}

	&__wr {
		background-color: #fff;
		padding: 50px 80px;
		position: relative;
		border-radius: 7px;
		max-width: 814px;

		.close-btn {
			right: 12px;
			top: 12px;
			position: absolute;
		}
	}

	&__body {
		display: flex;
		flex-direction: column;
		align-items: center;

	}

	&__top-text {
		font-size: 18px;
		line-height: 21px;
		margin-bottom: 15px;
	}

	&__title {
		font-weight: 900;
		font-size: 22px;
		line-height: 26px;
		margin-bottom: 41px;

	}

	&__ask {
		font-weight: 900;
		font-size: 22px;
		line-height: 26px;
		color: $blue;
		margin-bottom: 46px;
	}

	&__form {
			
	}

	&__sq {
		display: flex;
		justify-content: space-between;
		margin-bottom: 46px;

		label {
			font-size: 14px;
			line-height: 16px;
			margin-right: 89px;
			color: #595959;
		}

		&_wrap {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		&_range {
			display: flex;
			align-items: center;
			visibility: visible !important;
			appearance: none;
			position: static !important;
			width: 421px;
			border-radius: 3px;
			background-color: #F2F2F2;
			height: 6px;
			background: linear-gradient(left, $blue 0%, $blue 0%, #F2F2F2 0%, #F2F2F2 100%);
			margin-right: 5px;

			&:focus {
				outline: none;
			}
		}

		&_range::-moz-range-track {
			visibility: visible !important;
			appearance: none;
			position: static !important;
			width: 421px;
			border-radius: 3px;
			background-color: #F2F2F2;
			height: 6px;
			background: linear-gradient(left, $blue 0%, $blue 0%, #F2F2F2 0%, #F2F2F2 100%);
			margin-right: 5px;

			&:focus {
				outline: none;
			}

		}
		&_range::-webkit-slider-thumb {
			-webkit-appearance: none;
			background: $blue;
			width: 26px;
			height: 26px;
			border-radius: 100%;
			cursor: pointer;
			border: 4px solid #fff;

			&:hover {
				transform: scale(1.1);
			}

			&:active {
				transform: scale(1.1);
			}

		}
		&_range::-moz-range-thumb {
			-moz-appearance: none;
			background: $blue;
			width: 26px;
			height: 26px;
			border-radius: 100%;
			cursor: pointer;
			border: 4px solid #fff;

			&:hover {
				transform: scale(1.1);
			}

			&:active {
				transform: scale(1.1);
			}
		}

		&_block {
			width: 25px;
			font-size: 14px;
			line-height: 16px;

			color: #595959;
		}
	}

	&__type {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 27px;
		&_name {
			font-size: 14px;
			line-height: 16px;

			color: #595959;
		}

		&_wr {
			display: flex;
			align-items: center;
			justify-content: space-between;
			flex-wrap: wrap;
			input {
				visibility: hidden;
				appearance: none;
				position: absolute;
				top: 0;
				left: 0;
			}
			input:checked + label {
				color: #fff;
				background-color: $blue;
			}

			label {
				padding: 14px 24px;
				background: #E6E6E6;
				border-radius: 4px;
				transition: all .2s ease;


				font-weight: 700;
				font-size: 16px;
				line-height: 19px;
				color: #595959;

				&:not(:last-child) {
					margin-right: 11px;
				}
			}
		}
	}

	&__bottom {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 20px;

		&_tel {
			display: flex;
			align-items: center;
			margin-right: 8px;
			label {
				font-size: 14px;
				line-height: 16px;
				margin-right: 9px;
				color: #595959;
			}

			input {
				padding: 12px 15px;
				border: 1px solid #CCCCCC;
				width: 227px;
			}
		}

		.btn {
			padding: 14px 65px;
		}
	}

	&__link {
		font-size: 13px;
		line-height: 15px;
		display: flex;
		justify-content: center;

		color: #595959;

		a {
			color: var(--main_theme);
		}

	}
}

@media (max-width: 1200px) {
	.popup-calc-next {


		&__over {

		}

		&__wr {
			padding: 53px 25px 42px 25px;
			max-width: 668px;
		}

		&__body {

		}
	}
}

@media (max-width: 767px) {
	.popup-calc-next {


		&__over {
			padding: 0 5px;	
		}

		&__wr {
			max-width: 401px;
			padding: 32px 11px 43px 11px;
		}

		&__body {

		}

		&__top-text {
			font-size: 16px;
			line-height: 19px;
		}

		&__title {
			font-weight: 900;
			font-size: 19px;
			line-height: 22px;
		}

		&__ask {
			font-weight: 900;
			font-size: 19px;
			line-height: 22px;
			color: $blue;
		}

		&__sq {

			flex-direction: column;
			align-items: center;

			label {
				margin-right: 0 !important;
				margin-bottom: 17px;
			}



			&_wrap {
				width: 100%;
			}

			&_range {
				width: 100%;
			}

			
		}

		&__type {
			flex-direction: column;
			&_name {
				margin-bottom: 20px;
			}
			&_wr {
				justify-content: flex-start;
				label {
					font-size: 16px;
					line-height: 19px;
					padding: 9px 12px;
					margin-bottom: 5px;

					&:not(:last-child) {
						margin-right: 6px;
					}
				}
			}
		}

		&__bottom {
			flex-direction: column;
			&_tel {
				flex-direction: column;
				margin-right: 0;
				width: 100%;
				margin-bottom: 20px;

				input {
					width: 100%;
				}
				label {
					margin-right: 0;
					margin-bottom: 22px;
				}
			}
			.btn {
				width: 100%;
				padding: 14px 0;
			}
		}

		&__link {
			display: block;
		}
	}
}

@media (max-width: 375px) {
	.popup-calc-next {

		&__wr {
			padding: 35px 10px 15px 10px;
		}

		&__title {
			margin-bottom: 20px;
		}

	}
}

@media (max-width: 320px) {
	.popup-calc-next {


		&__wr {
			padding-top: 20px;

			.close-btn {
				top: 3px;
			}
		}
		&__title {
			text-align: center;
			margin-bottom: 10px;
		}
		&__ask {
			margin-bottom: 15px;
		}

		&__type {
			margin-bottom: 15px;
		}

		&__sq {
			margin-bottom: 15px;
		}
		&__bottom {
			margin-bottom: 10px;
			&_tel {
				margin-bottom: 10px;
			}
		}
	}
}