.popup-quiz2 {
	opacity: 0;
	visibility: hidden;
	z-index: -1;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: all .3s ease;
	padding: 5px;
	background-color: rgba(0,0,0, .3);
	z-index: 10000000;
	visibility: visible;
	opacity: 1;



	.popup-quiz2__wr {
		background-color: #fff;
		// padding: 30px 50px;
		position: relative;
		overflow: hidden;
		border-radius: 7px;
		

		.close-btn {
			position: absolute;
			top: 6px;
			right: 6px;	
		}
	}


	.popup-quiz2__over {
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;

	}

	.popup-quiz2__body {
		display: flex;
		// min-height: 491px;


		.quiz__content {
			padding: 45px 40px;
			.quiz__title {
				font-weight: 900;
				font-size: 22px;
				line-height: 26px;
				display: flex;
				justify-content: space-between;
				align-items: center;

			}

			.quiz__form {

				.quiz__form_rooms {
					margin-bottom: 30px;
					.quiz__form_room {

						input {
							position: absolute;
							top: 0;
							left: 0;
							appearance: none;
							opacity: 0;
							visibility: hidden;
							z-index: -1;
						}



						label {
							padding: 6px 7px 6px 28px;
							border: 1px solid rgba(188, 188, 188, 0.13);
							box-shadow: 0px 0px 4px rgba(185, 185, 185, 0.25);
							border-radius: 4px;
							display: inline-block;
							max-width: 160px;
							width: 100%;
							font-size: 14px;
							line-height: 16px;
							position: relative;
							margin-bottom: 10px;

							&:after {
								position: absolute;
								content: url('../img/quiz-empty.svg');
								top: calc(50% - 7px);
								left: 7px;
							}
						}

						input:checked ~ label {
							&:after {
								content: url('../img/quiz-full.svg');
							}
						}
					}
				}

				.square_range {
					margin-bottom: 44px;
				}
			}
			

			.quiz__pag {
				margin-bottom: 34px;
			}

			.quiz__next {

				.btn {
					padding: 12px 60px;
				}
			}
		}

		
	}
}
@media (max-width: 1200px) {

	.popup-quiz2 {

		.popup-quiz2__wr {
			max-width: 668px;
		}

		.popup-quiz2__over {

		}

		.popup-quiz2__body {


			.quiz__content 	{
				padding: 25px 20px;

				.quiz__title {
					margin-bottom: 10px;
				}

				.quiz__form  {

					.square_range {
						margin-bottom: 30px;
					}


				}
				.quiz__next {
						display: flex;
						gap: 8px;
						
						.btn {
							width: 50% !important;
							padding: 10px 10px;
							
						}

						.btn-transparent {
							width: 50% !important;
							padding: 10px 10px;
						}
					}
			}
		}	
	}
}

@media (max-width: 768px) {

	.popup-quiz2 {

		.popup-quiz2__wr {

		}
		.popup-quiz2__body  {
			flex-direction: column;

			.quiz__content {

				.quiz__form {
					.square_range {

						.square_range_slider {
							max-width: 100%;
						}
					}
				}
			}
		}
	}
}

@media (max-width: 500px) {
	.popup-quiz2  {
		.popup-quiz2__body {
			// padding: 27px 12px;
			.quiz__content {
				padding: 27px 12px;
				.quiz__form {


					
				}	
				.quiz__next {
					flex-direction: column ; 
					width: 100%;
					.btn {
						width: 100% !important;
					}

					.btn-transparent {
						width: 100% !important;
					}
				}
			}
			
		}
	}
}

@media (max-width: 375px) {
	.popup-quiz2 {
		.popup-quiz2__body {

			.quiz__content {
				.quiz__title {
					font-size: 18px;
					line-height: 20px;
					padding-right: 20px;

					img {
						width: 35px;
						height: 35px;
					}
				}
				.quiz__form {

					.square_range {
						margin-bottom: 10px;
					}
				}

				.quiz__pag {
					margin-bottom: 15px;
				}
			}
		}
	}
}

@media (max-width: 321px) {
	.popup-quiz2 {
		.popup-quiz2__body  {

			.quiz__content {
				padding: 8px;

				.quiz__form {
					.quiz__form_rooms {
						display: flex;
						flex-wrap: wrap;
						justify-content: space-between;
						.quiz__form_room {
							width: 49%;

							label {
								font-size: 12px;
							}
						}
					}

					.square_range {
						padding: 0 20px;
					}
				}

				.quiz__next {

					.btn {
						font-size: 12px;
						line-height: 14px;
					}

					.btn-transparent {
						font-size: 12px;
						line-height: 14px;
					}
				}
			}
		}
	}
}